.product-price {
	.title-icon {
		margin-right: 10px;
	}

	.btn-wrapper {
		position: relative;

		.btn-add,
		.btn-filter {
			margin-bottom: 18px;
			margin-right: 18px;
			margin-top: 18px;
		}
	}

	.filter-wrapper {
		margin-bottom: 18px;
		width: 100%;

		.btn-wrapper {
			display: flex;

			.btn-apply-filter,
			.btn-reset-filter {
				margin-bottom: 18px;
				margin-right: 18px;
			}
		}
	}

	.btn-apply-filter {
		margin-top: 0px;
	}
}
